<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="header.html :: header"></div>

<h3 style="border-bottom: solid 1px #eeeee;"> 장바구니 </h3> <br><br>
<table class="table">
    <tr>
        <th> 이미지 </th> <th> 카테고리 </th> <th> 상품명 </th> <th> 수량 </th> <th> 가격 </th> <th> 삭제 </th>
    </tr>
    <tr>
        <td width="10%" class="align-middle"><img src="#" style="max-width: 100%;"></td>
        <td width="50%">
</table>

<div th:replace="footer.html :: footer"></div>
</body>
</html>