<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/categoryregistration.css}">
</head>

<body>
<input type="hidden" id="delCatNo" name="delCatNo" value="">
<input type="hidden" id="delCatDiv" name="delCatDiv" value="">
<div th:replace="header.html :: header"></div>
    <div class="container">
        <div class="row">
            <div>
                <p id="warning">※카테고리 삭제시 안의 내용까지 삭제되오니 주의하시기 바랍니다.</p>
                <button data-bs-toggle="modal" data-bs-target="#registrationmodal">카테고리 등록하기</button>
                <!-- 모달 이용 예정 -->
            </div>
            <div id="componentcategorybox" class="col-md-5">
                <h3 id="componenttabletitle">부품 카테고리</h3>
                <table id="componentcategory">
                    <thead>
                        <tr>
                            <th>순번</th>
                            <th>카테고리명</th>
                            <th>비고</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="CT : ${CTcategory}">
                            <td th:text="${CT.componentcategoryNo}"></td>
                            <td th:text="${CT.componentcategoryName}"></td>
                            <td>
                                <button>수정</button>
                                <button>삭제</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="CPcategorybox" class="col-md-5 offset-1">
                <h3 id="CPtabletitle">완제품 카테고리</h3>
                <table id="CPcategory">
                    <thead>
                        <tr>
                            <th>순번</th>
                            <th>카테고리명</th>
                            <th>비고</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="CP : ${CPcategory}">
                            <td th:text="${CP.cpcategoryNo}"></td>
                            <td th:text="${CP.cpcategoryName}"></td>
                            <td>
                                <button type="button" data-bs-toggle="modal" data-bs-target="">수정</button>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" th:onclick="catDelCheck([[${CP.cpcategoryNo}]], [[${CP.catDiv}]]);">삭제</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 삭제 modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-body p-4 text-center">
                    <h5 class="mb-0">카테고리 삭제</h5>
                    <p class="mb-0">해당 카테고리 삭제시 내용물도 같이 삭제됩니다. 정말 삭제하시겠습니까?</p>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-right" onclick="categoryDelete();"> 삭제 </button>
                    <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 삭제 modal end -->
    <!-- 등록 모달 -->
    <div class="modal fade" tabindex="-1" role="dialog" id="registrationmodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-5 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <!-- <h5 class="modal-title">Modal title</h5> -->
                    <h2 class="fw-bold mb-0">카테고리 등록</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-5 pt-0">
                    <form class="" action="/admin/categorywrite" method="get">
                        <div class="row">
                            <div class="col-md-1">
                                <select name="categoryNo" id="categoryNo">
                                    <option value="1">완제품</option>
                                    <option value="2">부품</option>
                                </select>
                            </div>
                            <div class="col-md-8 offset-1">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control rounded-4" id="categoryName" placeholder="카테고리명" name="categoryName">
                                    <label for="categoryName">카테고리명</label>
                                </div>
                            </div>
                        </div>
                        <button type="button" onclick="categoryregistration();"> 등록 </button>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 등록 모달 end -->
    <script th:src="@{/js/categoryregistration.js}"></script>
</body>

</html>