#headermenu {
    list-style: none;
    padding: 5px 1px;
    margin: 0;
    background-color: #f29c74;
    height: 60px;
}

#headermenu li {
float: left;
position: relative;
margin: 5px 23px;
padding: 0;
}

#headermenu li a{ /* 링크 스타일*/
display:block; /* 메뉴칸을 블록별로 만든다 */
font-weight: bold;
font-size: 12px;
padding: 7px 8px;
margin: 0;
color: #fff;
text-decoration: none; /*글자의 밑줄 없애기*/
text-shadow: 0 1px 1px rgba(0, 0, 0, 3); /*글자 및 그림자 삽입*/
}

#headermenu li:hover > a{ /*메인메뉴 링크에 마우스 포인터를 올렸을 때 스타일*/

    background: #ffcab2; /* 배역색 지정*/
    color: black;
    margin: 0;
    padding: 5px;
}
/*--------------------------- 메인 ul end --------------------*/

#headermenu ul{
    list-style: none; /* 불릿 제거 */
    margin: 0;
    padding: 0;
    position: absolute; /* 고정 위치에 표시*/
    left: 0; /* 부모 요소와 왼쪽 좌표값을 같게 한다.*/
    top: 40px; /*무보 요소로부터 40px 아래에 표시*/
    width: 105px; /* 가로 넓이 */
    background: #ffcab2;
    text-align: center;
    opacity: 0; /* 투명하게 표시되도록해서 평소에 안보이도록 설정*/
}

#headermenu ul li{
    float:none; /*(부모요소의) 떠있는 속성을 해제하여 세로로 표시되도록 한다.*/
    margin: 0;
    padding: 0;
    font-size: 10px;
}

#headermenu ul a {
    font-weight: normal;
    color: black;
}

#headermenu ul li:hover a{ /* 서브메뉴 리스트로 마우스 포인터를 올렸을때 스타일*/
    background: #cc9882; /* 배경색 지정*/
    font-weight: bold; /*글자 굵기*/
}

#headermenu li:hover ul{ /* 메인메뉴에 마우스 포인터를 가져갔을 때 서브메뉴 스타일*/
    opacity: 1; /*서브메뉴 불투명하게 설정*/
}

#headermenu li:hover ul li{ /*마우스 포인터를 올려놨을때 서브메뉴 스타일*/
 height: 35px;
 overflow:visible;
 padding: 0;
}



