<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="header.html :: header" ></div>

<!-- 글쓰기 페이지 -->
<div class="container">
    <form id="qnaform">
        <label class="text-info">제목</label>
            <input class="form-control" type="text" name="qnaTitle" placeholder="제목을 입력해 주세요."> <br>
        <label class="text-info">작성자</label>
        <input class="form-control" type="text" name="text"> <br>
        <label class="text-info">내용</label>
            <textarea class="form-control" rows="10" cols="10" name="qnaContents"></textarea><br>
        <button class="form-control" type="submit">등록하기</button>
        <button class="form-control" type="button">목록으로</button>
    </form>
</div>

</body>
</html>