<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="header.html :: header"></div>
<div class="container">
    <div class="row">
        <h1>회원가입</h1>
        <form action="">
            <span>아이디</span><input type="text">
            <span>비밀번호</span><input type="password">
            <span>비밀번호 확인</span><input type="password">
            <span>이름</span><input type="text">
            <span>연락처</span><input type="text">
            <span>이메일</span><input type="text">
            <span>주소</span><input type="text">
            <input type="submit" value="회원가입">
        </form>
    </div>
</div>

</body>
</html>