#categorylist {
    margin-top: 10px;
    border: solid 1px rgb(158, 154, 154);
    width: 100%;
}
#categorylist tr {
    border: solid 1px rgb(158, 154, 154);
}

#categorylist tr td{
    text-align: center;
    font-size: 20px;
}

#componentinputbox {
    margin-top: 10px;
}

#componenttable{
width: 100%;
height: 10rem;
}

.componentdata {
border: solid 1px black;
width:
height: 100px;
}