<!DOCTYPE html>
<html lang="en" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--부트스트랩 css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 개발자 css 가져오기 -->


    <style>
        #headermenu{
            text-align:center;
            border: 1px solid black;
        }

        #headermenu li{
            display: inline-block;
            border: 1px solid black;

        }
    </style>

</head>
<body>
<!--부트스트랩 js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
<!-- jquery [ ajax용 ] -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<div class="container">
    <div class="row" style="height: 100px; border: 1px solid black;">
        <div class="col-md-1"> <!-- 로고 div -->
            <a href="">
                <img src="" alt="">
            </a>
        </div> <!-- 로고 div end -->
        <div class="col-md-7"> <!-- 검색창 div -->
            <input type="text"> <button type="button">검색</button>
        </div> <!-- 검색창 div end -->
        <div class="col-md-3"> <!-- 로그인 관련 div -->
            <button type="button"> 로그인 </button>
            <a href=""><button type="button"> 회원가입 </button></a>
            <button> 로그아웃 </button>
        </div> <!-- 로그인 관련 div end -->
    </div> <!-- row div end -->
    <hr>
    <div class="row"> <!-- 메뉴 row div -->
        <div>
            <ul id="headermenu">
                <li>
                    <a href="">완제품</a>
                    <div style="hidden"></div><!-- 완제품 카테고리 div -->
                </li>
                <li>전체 컴퓨터</li>
                <li>
                    <a href="">컴퓨터 부품</a>
                    <div></div> <!-- 컴퓨터 부품 div -->
                </li>
                <li>견적내기</li>
                <li>Q&A</li>
                <li>장바구니</li>
                <li>제품리스트</li> <!-- 관리자 -->
                <li>제품등록</li> <!-- 관리자 -->
                <li>카테고리 등록</li> <!-- 관리자 -->
            </ul>
        </div>
    </div>
</div> <!-- container div end -->
</body>
</html>