<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/allcomputer.css}">
</head>

<body>
    <div th:replace="header.html :: header"></div>
    <div class="container">
        <div class="row">
            <h3>전체 컴퓨터 페이지</h3>
            <div id="carouselzone">
                <img src="" alt=""> <!-- 대충 케러셀 들어갈 자리 -->
            </div>
            <div>
                <div class="cards">
                    <div class="card">
                        <div class="card__image-holder">
                            <img class="card__image" src="https://source.unsplash.com/300x225/?wave" alt="wave" />
                        </div>
                        <div class="card-title">
                            <a href="#" class="toggle-info btn">
                                <span class="left"></span>
                                <span class="right"></span>
                            </a>
                            <h2>
                                Card title
                                <small>Image from unsplash.com</small>
                            </h2>
                        </div>
                        <div class="card-flap flap1">
                            <div class="card-description">
                                This grid is an attempt to make something nice that works on touch devices. Ignoring
                                hover states when they're not available etc.
                            </div>
                            <div class="card-flap flap2">
                                <div class="card-actions">
                                    <a href="#" class="btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__image-holder">
                            <img class="card__image" src="https://source.unsplash.com/300x225/?wave" alt="wave" />
                        </div>
                        <div class="card-title">
                            <a href="#" class="toggle-info btn">
                                <span class="left"></span>
                                <span class="right"></span>
                            </a>
                            <h2>
                                Card title
                                <small>Image from unsplash.com</small>
                            </h2>
                        </div>
                        <div class="card-flap flap1">
                            <div class="card-description">
                                This grid is an attempt to make something nice that works on touch devices. Ignoring
                                hover states when they're not available etc.
                            </div>
                            <div class="card-flap flap2">
                                <div class="card-actions">
                                    <a href="#" class="btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <!-- 검색 div -->
                    <input type="text">
                    <button>검색</button>
                </div>
            </div>
        </div>
        <script th:src="@{/js/allcomputer.js}"></script>
</body>

</html>